.navbar {
	font-size: 2rem;
	padding: 0.5em;
	background-color: rgb(255, 8, 0);
	text-align: center;
}

.navbar i,
.navbar span {
	margin: 0.5em;
}

/* .navbar-logo {
	color: green;,
  color: grinput
	margin-right: 0.5em;
} */

.icon-search {
	padding: 0.2rem;
	color: aliceblue;
	border: 0.2rem ridge whitesmoke;
}

.icon-search:hover {
	border: 0.2rem groove whitesmoke;
}

.ipt-search {
	height: 2em;
	border-radius: 0.5em;
}
